@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet');

.App {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Josefin Sans', cursive;
}

.App-link {
  color: #61dafb;
}
